/** @format */
.vinput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80vh;
  max-height: 300px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70vh;
}
.roverinput {
}
